<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #navbar #home {
            background-color: #908383;
        }
    </style>
</head>
<body>
    <%- include("header.ejs") %>
    <div id="main-content">
        <div id="content">
            <h1>   Welcome to our website!</h1>
            <h1>  home page</h1>
        </div>
    </div>


</body>
</html>